# Laravel
backend/.env
backend/vendor/
backend/node_modules/
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*.log
backend/bootstrap/cache/*.php
backend/public/storage

# Vue
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# General
.DS_Store
*.log
*.zip
